@import './template/mixins';
@import './template/settings';

@import '../_vars';

$mainColor: $main-font;
$headingColor: $mainColor;

$headingTextShadow: none;
$heading1TextShadow: none;

$headingFont: $header-font;

$linkColor: $main;
$linkColorHover: $main-light;

@import './template/theme';
